<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: cyan;">
    
        <H1>Select if user or admin</H1>
        <form action="/user/login" method="GET">
            <button type="submit">USER</button>
        </form>
        <br>
        <form action="/admin/login" method="GET">
            <button type="submit">ADMIN</button>
        </form>
    
</body>
</html>